<nav class="bg-black pt-8">
  <div class="container">
    <ul class="list-unstyled d-flex justify-content-between m-0">
      <li class="text-secondary flex-basis-306">WILLIAM LEE</li>
      <li class="text-secondary flex-basis-306">BASED IN TAIWAN</li>
      <li class="text-secondary flex-basis-306">CURRENTLY FRONT END ENGINEER AT HEXSCHOOL</li>
      <li><a href="#" class="nav-contact-link text-secondary">CONTACT ME</a></li>
    </ul>
  </div>
</nav>
<header class="bg-black">
  <div class="container">
    <div class="grid align-items-center py-10">
      <div class="g-col-6">
        <img src="../assets/images/people.png" class="img-fluid" alt="WILLIAM"/>
      </div>
      <div class="g-col-6 d-flex flex-column">
        <p class="text-white fs-7 m-0">Hi</p>
        <p class="text-white fs-7 m-0">I’m a front-end developer</p>
        <h1 class="text-tertiary fs-8 m-0 align-self-end">William</h1>
        <a href="#" class="align-self-end btn btn-custom-white rounded-5 px-4 py-6">
          CONTACT ME
          <img src="../assets/images/arrow_outward.svg" class="img-fluid" alt="arrow_outward">
        </a>
      </div>
    </div>
  </div>
</header>
<main>
  <section class="introduction-bg">
    <div class="container">
      <div class="grid py-12">
        <div class="g-col-5">
          <h2 class="fs-7 text-white mb-8">Introduction</h2>
          <p class="fs-4 text-white mb-7">Hi, I'm William Lee, a Front-End Developer with a passion for building beautiful and responsive websites that provide an optimal user experience.</p>
          <div class="d-flex">
            <img src="../assets/images/sparkle-sm.png" class="img-fluid me-3" alt="sparkle-sm">
            <img src="../assets/images/sparkle-sm.png" class="img-fluid me-3" alt="sparkle-sm">
            <img src="../assets/images/sparkle-sm.png" class="img-fluid" alt="sparkle-sm">
          </div>
        </div>
        <div class="g-col-7 d-flex">
          <img src="../assets/images/sparkle.png" class="img-fluid me-4" alt="sparkle">
          <img src="../assets/images/photographer.png" class="img-fluid me-4" alt="photographer">
          <img src="../assets/images/people-2.png" class="img-fluid" alt="people-2">
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="grid py-12">
        <div class="g-col-6 align-self-center">
          <ul class="grid list-unstyled m-0">
            <li class="g-col-6 border text-primary shadow-sm p-3 mb-4">
              <p class="mb-1">01</p>
              <p class="mb-1">Attention to Detail</p>
              <p class="m-0">Meticulous code analysis and optimization.</p>
            </li>
            <li class="g-col-6 border text-primary shadow-sm p-3 mb-4">
              <p class="mb-1">02</p>
              <p class="mb-1">Adaptability</p>
              <p class="m-0">Swift learning of new technologies.</p>
            </li>
            <li class="g-col-6 border text-primary shadow-sm p-3">
              <p class="mb-1">03</p>
              <p class="mb-1">Problem Solver</p>
              <p class="m-0">Identifying and resolving issues.</p>
            </li>
            <li class="g-col-6 border text-primary shadow-sm p-3">
              <p class="mb-1">04</p>
              <p class="mb-1">Team Player</p>
              <p class="m-0">Collaborates and shares ideas.</p>
            </li>
          </ul>
        </div>
        <div class="g-col-5 g-start-8">
          <h2 class="fs-7 text-black mb-8">About Me</h2>
          <p class="fs-4 text-primary m-0">With over 5 years of experience, I'm proficient in HTML, CSS, JavaScript, jQuery, and React. I have a strong understanding of user experience design and accessibility. I'm always learning new technologies and techniques to stay up-to-date in the field.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-bg">
    <div class="container d-flex justify-content-between py-11">
      <div class="d-flex align-items-center">
        <h2 class="fs-7 text-white m-0 me-6">CONTACT ME</h2>
        <img src="../assets/images/trending_flat_black_24dp 1.png" class="img-fluid" alt="flat">
      </div>
      <ul class="contact-socials list-unstyled d-flex">
        <li><a href="#"><img src="../assets/images/discord.png" class="img-fluid me-13" alt="discord"></a></li>
        <li><a href="#"><img src="../assets/images/instagram.png" class="img-fluid me-13" alt="instagram"></a></li>
        <li><a href="#"><img src="../assets/images/message.png" class="img-fluid" alt="message"></a></li>
      </ul>
    </div>
  </section>
  <section>
    <div class="container py-12">
      <div class="grid">
        <h2 class="g-col-7 g-start-6 fs-7 mb-3">My Projects</h2>
        <div class="g-col-4">
          <img src="../assets/images/Rectangle 10.png" class="img-fluid" alt="Rectangle 10">
        </div>
        <div class="g-col-8">
          <div class="d-flex">
            <img src="../assets/images/Rectangle 15.png" class="img-fluid me-4" alt="Rectangle 15">
            <div class="d-flex flex-column">
              <p>I've worked on a variety of websites, including e-commerce sites, blogs, and landing pages. I take pride in creating clean, efficient, and user-friendly code.</p>
              <a href="#" class="contact-btn btn btn-custom-black rounded-5 align-self-start mt-auto py-6 px-4">
                SEE MORE
                <img src="../assets/images/arrow_outward-white.png" class="img-fluid" alt="arrow_outward-white">
              </a>
            </div>
          </div>
          <div class="d-flex mt-14">
            <img src="../assets/images/Rectangle 14.png" class="img-fluid me-4" alt="Rectangle 14">
            <img src="../assets/images/Rectangle 29.png" class="img-fluid" alt="Rectangle 29">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="bg-black text-center py-9">
  <p class="text-white m-0">all rights reserved @hexschool2023</p>
</footer>
