$custom-spacers: (
  6: $spacer * 0.75,  // 12px
  7: $spacer * 2,     // 32px
  8: $spacer * 2.25,  // 36px
  9: $spacer * 2.5,   // 40px
  10: $spacer * 4.5,  // 72px
  11: $spacer * 6,    // 96px
  12: $spacer * 10,   // 160px
  13: $spacer * 1.25, // 20px
  14: $spacer * 1.75  // 28px
);

$custom-font-sizes: (
  7: $font-size-base * 4, // 64px
  8: $font-size-base * 8  // 128px
);

$spacers: map-merge($spacers, $custom-spacers);
$font-sizes: map-merge($font-sizes, $custom-font-sizes);
